.App {
  text-align: center;
  color: aliceblue;
  
}

body {
  background: linear-gradient(132deg, #131224 0%, #0C1445 50%, #5C54A4 90%, #8380a4 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
}

.circle {
  border-style: solid;
  border-width: 10px;
  border-color: white;
  width: 1.8em;
  height: 1.8em;
  padding: 2%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

#daddyDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#playPauseRestart {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

/* .timerButton {
  margin: 10px;
  background-color: white;
  border-radius: 50%;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
} */

.timerButton {
  background-color: white;
  font-size: 14px;
  padding: 0.5em 1em;
  margin: 0.25em;
  border: none;
  outline: none;
  border-radius: 1em;
  max-width: auto;

}



.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* #tsparticles {
  background: linear-gradient(90deg, #131224 0%, #0C1445 50%, #5C54A4 90%, #ffffff 100%,)
} */