@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');



.App {
  text-align: center;
  color: aliceblue;
  font-family: "Montserrat Alternates";
  font-weight: 400;
  
}

h1 {
  font-size: 60px;
}

body {
  background: linear-gradient(132deg, #131224 0%, #0C1445 50%, #5C54A4 90%, #8380a4 100%);
  background-repeat: no-repeat;
  min-height: 110vh;
  font-family: Montserrat;
}

.circle {
  border-style: solid;
  border-width: 10px;
  border-color: white;
  width: 1.8em;
  height: 1.8em;
  padding: 2%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  font-weight: 100;
}

#daddyDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#playPauseRestart {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  
}

/* .timerButton {
  margin: 10px;
  background-color: white;
  border-radius: 50%;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
} */

.timerButton {
  background-color: white;
  font-size: 14px;
  padding: 0.5em 1em;
  margin: 0.25em;
  border: none;
  outline: none;
  border-radius: 1em;
  max-width: auto;
  font-family: "Montserrat Alternates";
  font-weight: 400

}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* center the blockquote in the page */
.blockquote-wrapper {
  display: flex;
  height: 40vh;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
}

/* Blockquote main style */
.blockquote {
  position: relative;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 100;
  color: #ffffff;
  padding: 30px 0;
  width: 100%;
  max-width: 500px;
  z-index: 1;
  /* margin-left: 300px;
  margin-bottom: 500px; */
  align-self: center;
  border-top: solid 1px;
  border-bottom: solid 1px;
  
}

/* Blockquote header */
.blockquote p {
  position: relative;
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 200;
  font-style: italic;
  line-height: 1;
  margin: 0;
}

/* Blockquote right double quotes */
.blockquote:after {
  position: absolute;
  content: "”";
  color: rgba(255, 255, 255, 1);
  font-size: 10rem;
  line-height: 0;
  bottom: -43px;
  right: 30px;
}

/* increase header size after 600px */
@media all and (min-width: 600px) {
  .blockquote h1 {
    font-size: 60px;
  }

}

/* Blockquote subheader */
.blockquote h4 {
  position: relative;
  color: #292a2b;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding-top: 20px;
  z-index: 1;
}

a.effect-shine:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}