@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;400&family=Montserrat:wght@100;400&display=swap');
body {
  background: linear-gradient(132deg, #131224 0%, #0C1445 50%, #5C54A4 90%, #8380A4 100%);
  background-repeat: no-repeat;
  min-height: 110vh;
  font-family: 'Montserrat Alternates', sans-serif;
  color: aliceblue;
}

.page-title {
  text-align: center;
  letter-spacing: 3px;
  font-size: 70px;
  font-weight: 400;
  margin-top: 20px;
}

/* || Styling of timer component */
.circle {
  border-style: solid;
  border-width: 10px;
  border-color: white;
  width: 1.8em;
  height: 1.8em;
  padding: 2%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  font-size: 100px;
  font-weight: 100;
}
#global-timer-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#buttons-div {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.timerButton {
  background-color: white;
  font-size: 14px;
  padding: 0.5em 1em;
  margin: 0.25em;
  border: none;
  outline: none;
  border-radius: 1em;
  max-width: auto;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: 'Montserrat Alternates', sans-serif;
}

/* || Styling of buttons upon hover */
.timerButton:hover {
  box-shadow: 0px 15px 20px #232F3E;
  color: #fff;
  transform: translateY(-2px);
}
#resetButton:hover {
  background-color: #ffb7a2e8;
  
}
#startPauseButton:hover {
  background-color: #C3809A;
}
#sound-button:hover {
  background-color: #FBA55A;
}


/* || Quote component styling: */
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* center the blockquote in the page */
.blockquote-wrapper {
  display: flex;
  height: 40vh;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
}
/* Blockquote main style */
.blockquote {
  position: relative;
  font-weight: 100;
  padding: 30px 0;
  width: 100%;
  max-width: 500px;
  z-index: 1;
  align-self: center;
  border-top: solid 1px;
  border-bottom: solid 1px;
}
/* Blockquote header */
.blockquote p {
  position: relative;
  font-size: 28px;
  font-weight: 100;
  line-height: 1;
  margin: 0;
  font-style: italic;
}
/* Blockquote right double quotes */
.blockquote:after {
  position: absolute;
  content: "”";
  font-size: 10rem;
  line-height: 0;
  bottom: -43px;
  right: 30px;
}
/* increase header size after 600px */
@media all and (min-width: 600px) {
  .blockquote h1 {
    font-size: 60px;
  }
}


/* || Blogpost component styling*/
.blogpost {
      font-family: 'Montserrat', sans-serif;
      line-height: 1.4em;
      margin-top: 150px;
      font-size: 16px;
  width: 500px;
}
.blogpost-container {
  display: flex;
  justify-content: center
}


 .picture {
max-width: 480px;
 }
 .blogpost h1 {
  line-height: 1.25em;
 }